@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    a {
        line-height: 90%;
    }

    .container {
        max-width: 77.77%;
        margin: 0 auto;

        @media (max-width: 1024px) {
            max-width: 84.375%;
        }

        @media (max-width: 600px) {
            max-width: 83%;
        }
    }

    .hero {
        font-size: theme(fontSize.96);
        font-weight: theme(fontWeight.bold);
        letter-spacing: 0.13vw;

        @media (max-width: 1024px) {
            font-size: theme(fontSize.96-lg);
            letter-spacing: 0.1875vw;
        }

        @media (max-width: 600px) {
            font-size: theme(fontSize.96-sm);
            letter-spacing: 0.512vw;
        }
    }

    h1 {
        font-size: theme(fontSize.64);
        font-weight: theme(fontWeight.bold);
        letter-spacing: 0.08vw;

        @media (max-width: 1024px) {
            font-size: theme(fontSize.64-lg);
            letter-spacing: 0.125vw;
        }

        @media (max-width: 600px) {
            font-size: theme(fontSize.64-sm);
            letter-spacing: 0.341vw;
        }
    }

    h2 {
        font-size: theme(fontSize.48);
        font-weight: theme(fontWeight.bold);
        line-height: theme(lineHeight.110);
        letter-spacing: 0.066vw;

        @media (max-width: 1024px) {
            font-size: theme(fontSize.48-lg);
            letter-spacing: 0.093vw;
        }

        @media (max-width: 600px) {
            font-size: theme(fontSize.48-sm);
            letter-spacing: 0.256vw;
        }
    }

    h3 {
        font-size: theme(fontSize.40);
        font-weight: theme(fontWeight.bold);
        line-height: theme(lineHeight.120);
        letter-spacing: 0.0277vw;

        @media (max-width: 1024px) {
            font-size: theme(fontSize.40-lg);
            letter-spacing: 0.039vw;
        }

        @media (max-width: 600px) {
            font-size: theme(fontSize.40-sm);
            letter-spacing: 0.1vw;
        }
    }

    h4 {
        font-size: theme(fontSize.32);
        font-weight: theme(fontWeight.bold);
        line-height: theme(lineHeight.125);
        letter-spacing: 0.0277vw;

        @media (max-width: 1024px) {
            font-size: theme(fontSize.32-lg);
            letter-spacing: 0.039vw;
        }

        @media (max-width: 600px) {
            font-size: theme(fontSize.32-sm);
            letter-spacing: 0.1vw;
        }
    }

    h5 {
        font-size: theme(fontSize.24);
        font-weight: theme(fontWeight.semibold);
        line-height: theme(lineHeight.130);

        @media (max-width: 1024px) {
            font-size: theme(fontSize.24-lg);
        }

        @media (max-width: 600px) {
            font-size: theme(fontSize.24-sm);
        }
    }

    h6 {
        font-size: theme(fontSize.16);
        font-weight: theme(fontWeight.medium);
        line-height: theme(lineHeight.150);

        @media (max-width: 1024px) {
            font-size: theme(fontSize.16-lg);
        }

        @media (max-width: 600px) {
            font-size: theme(fontSize.16-sm);
        }
    }

    p {
        font-size: theme(fontSize.14);
    }

    .icon-16 {
        width: 1.11vw;
        height: 1.11vw;

        @media (max-width: 1024px) {
            width: 1.56vw;
            height: 1.56vw;
        }

        @media (max-width: 600px) {
            width: 4.26vw;
            height: 4.26vw;
        }
    }

    .icon-20 {
        width: 1.4vw;
        height: 1.4vw;

        @media (max-width: 1024px) {
            width: 1.95vw;
            height: 1.95vw;
        }

        @media (max-width: 600px) {
            width: 5.33vw;
            height: 5.33vw;
        }
    }

    .icon-24 {
        width: 1.66vw;
        height: 1.66vw;
        
        @media (max-width: 1024px) {
            width: 2.34vw;
            height: 2.34vw;
        }

        @media (max-width: 600px) {
            width: 6.4vw;
            height: 6.4vw;
        }
    }

    .icon-40 {
        width: 2.77vw;
        height: 2.77vw;
        
        @media (max-width: 1024px) {
            width: 3.9vw;
            height: 3.9vw;
        }

        @media (max-width: 600px) {
            width: 10.66vw;
            height: 10.66vw;
        }
    }

    .icon-48 {
        width: 3.33vw;
        height: 3.33vw;
        
        @media (max-width: 1024px) {
            width: 4.68vw;
            height: 4.68vw;
        }

        @media (max-width: 600px) {
            width: 12.8vw;
            height: 12.8vw;
        }
    }

    .icon-56 {
        width: 3.88vw;
        height: 3.88vw;
        
        @media (max-width: 1024px) {
            width: 5.23vw;
            height: 5.23vw;
        }

        @media (max-width: 600px) {
            width: 15vw;
            height: 15vw;
        }
    }

    .icon-64 {
        width: 4.44vw;
        height: 4.44vw;
        
        @media (max-width: 1024px) {
            width: 6.25vw;
            height: 6.25vw;
        }

        @media (max-width: 600px) {
            width: 17.06vw;
            height: 17.06vw;
        }
    }

    .sm-primary-btn {
        padding: theme(padding.8) theme(padding.12);
        line-height: theme(lineHeight.110);
        font-size: theme(fontSize.14);
        font-weight: theme(fontWeight.bold);
        border-radius: 6.25vw;
        color: theme(colors.neutrals.8);
        background: theme(colors.primary.1);

        @media (max-width: 1024px) {
            padding: theme(padding.8-lg) theme(padding.12-lg);
            font-size: theme(fontSize.14-lg);
            border-radius: 9vw;
        }

        @media (max-width: 600px) {
            padding: theme(padding.8-sm) theme(padding.12-sm);
            font-size: theme(fontSize.14-sm);
            border-radius: 30vw;
        }
    }

    .sm-primary-btn:hover {
        background: theme(colors.primary.1-hover);
    }

    .md-primary-btn {
        padding: theme(padding.16) theme(padding.24);
        font-size: theme(fontSize.16);
        font-weight: theme(fontWeight.bold);
        border-radius: 6.25vw;
        color: theme(colors.neutrals.8);
        background: theme(colors.primary.1);

        @media (max-width: 1024px) {
            padding: theme(padding.16-lg) theme(padding.24-lg);
            font-size: theme(fontSize.16-lg);
            border-radius: 9vw;
        }

        @media (max-width: 600px) {
            padding: theme(padding.16-sm) theme(padding.24-sm);
            font-size: theme(fontSize.16-sm);
            border-radius: 30vw;
        }
    }

    .md-primary-btn:hover {
        background: theme(colors.primary.1-hover);
    }

    .lg-primary-btn {
        padding: theme(padding.12) theme(padding.16);
        line-height: theme(lineHeight.110);
        font-size: theme(fontSize.14);
        font-weight: theme(fontWeight.bold);
        border-radius: 6.25vw;
        color: theme(colors.neutrals.8);
        background: theme(colors.primary.1);
        display: flex;
        align-items: center;
        gap: theme(gap.12);

        @media (max-width: 1024px) {
            padding: theme(padding.12-lg) theme(padding.16-lg);
            font-size: theme(fontSize.14-lg);
            border-radius: 9vw;
            gap: theme(gap.12-lg);
        }

        @media (max-width: 600px) {
            padding: theme(padding.12-sm) theme(padding.16-sm);
            font-size: theme(fontSize.14-sm);
            border-radius: 30vw;
            gap: theme(gap.12-sm);
        }
    }

    .lg-primary-btn:hover {
        background: theme(colors.primary.1-hover);
    }



    .sm-btn {
        padding: theme(padding.8) theme(padding.12);
        line-height: theme(lineHeight.110);
        font-size: theme(fontSize.14);
        color: theme(colors.neutrals.2);
        font-weight: theme(fontWeight.bold);
        border-radius: 6.25vw;
        border: theme(borderWidth.2) solid theme(colors.neutrals.6);

        @media (max-width: 1024px) {
            padding: theme(padding.8-lg) theme(padding.12-lg);
            font-size: theme(fontSize.14-lg);
            border-radius: 9vw;
            border: theme(borderWidth.2-lg) solid theme(colors.neutrals.6);
        }

        @media (max-width: 600px) {
            padding: theme(padding.8-sm) theme(padding.12-sm);
            font-size: theme(fontSize.14-sm);
            border-radius: 30vw;
            border: theme(borderWidth.2-sm) solid theme(colors.neutrals.6);
        }
    }

    .sm-btn:hover {
        background: theme(colors.neutrals.2);
        color: theme(colors.neutrals.8);
    }

    .sm-btn:hover svg path {
        fill: theme(colors.neutrals.8);
    }

    .md-btn {
        padding: theme(padding.16) theme(padding.24);
        font-size: theme(fontSize.16);
        color: theme(colors.neutrals.2);
        font-weight: theme(fontWeight.bold);
        border-radius: 6.25vw;
        border: theme(borderWidth.2) solid theme(colors.neutrals.6);

        @media (max-width: 1024px) {
            padding: theme(padding.16-lg) theme(padding.24-lg);
            font-size: theme(fontSize.16-lg);
            border-radius: 9vw;
            border: theme(borderWidth.2-lg) solid theme(colors.neutrals.6);
        }

        @media (max-width: 600px) {
            padding: theme(padding.16-sm) theme(padding.24-sm);
            font-size: theme(fontSize.16-sm);
            border-radius: 30vw;
            border: theme(borderWidth.2-sm) solid theme(colors.neutrals.6);
        }
    }

    .md-btn:hover {
        background: theme(colors.neutrals.2);
        color: theme(colors.neutrals.8);
    }

    .md-btn:hover svg path {
        fill: theme(colors.neutrals.8);
    }

    .lg-btn {
        padding: theme(padding.12) theme(padding.16);
        line-height: theme(lineHeight.110);
        font-size: theme(fontSize.14);
        color: theme(colors.neutrals.2);
        font-weight: theme(fontWeight.bold);
        border-radius: 6.25vw;
        border: theme(borderWidth.2) solid theme(colors.neutrals.6);
        display: flex;
        align-items: center;
        gap: theme(gap.12);

        @media (max-width: 1024px) {
            padding: theme(padding.12-lg) theme(padding.16-lg);
            font-size: theme(fontSize.14-lg);
            border-radius: 9vw;
            border: theme(borderWidth.2-lg) solid theme(colors.neutrals.6);
            gap: theme(gap.12-lg);
        }

        @media (max-width: 600px) {
            padding: theme(padding.12-sm) theme(padding.16-sm);
            font-size: theme(fontSize.14-sm);
            border-radius: 30vw;
            border: theme(borderWidth.2-sm) solid theme(colors.neutrals.6);
            gap: theme(gap.12-sm);
        }
    }

    .lg-btn:hover {
        background: theme(colors.neutrals.2);
        color: theme(colors.neutrals.8);
    }

    .lg-btn:hover svg path {
        fill: theme(colors.neutrals.8);
    }
}

::-webkit-scrollbar {
  width: 0.7vw;
  height: 0.5vw;
}

::-webkit-scrollbar-track {
  background: theme(colors.neutrals.7);
}

::-webkit-scrollbar-thumb {
  background: theme(colors.neutrals.1);
}

::-webkit-scrollbar-thumb:hover {
  background: theme(colors.neutrals.2);
}